.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    width: 100%;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #666;

    &:focus {
        border-color: var(--primary);
    }
}
.rounded {
    border-radius: 20px;
}

.label {
    font-size: 16px;
    min-width: 100px;
    user-select: none;
}

.border {
    border-radius: 8px;
}

.noBorder {
    border: none;
}
