.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.icon {
    font-size: 16px;
    padding-right: 8px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.small {
    padding: 6px 8px;
}

.medium {
    padding: 10px 12px;
}

.large {
    padding: 14px 26px;
}

.veryLarge {
    padding: 14px 40px;
}

.primary {
    background-color: var(--primary);
    color: #fff;

    &:hover {
        background-color: var(--primary-hover);
    }
}

.secondary {
    background-color: var(--secondary);
    color: #fff;

    &:hover {
        background-color: var(--secondary-hover);
    }
}

.danger {
    background-color: var(--danger);
    color: #fff;

    &:hover {
        background-color: var(--danger-hover);
    }
}

.basic {
    background-color: var(--basic);
    color: #fff;

    &:hover {
        background-color: var(--basic-hover);
    }
}

.border {
    border-radius: 6px;
}

.modal {
    padding: 10px 12px;
}
