.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 500px;
    // min-height: 500px;
    padding: 20px;
    margin-top: calc(var(--header-distance) + 15px);
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #ccc;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
}

.input-item {
    width: 80%;
}

.input-item + .input-item {
    margin-top: 25px;
}

.order {
    box-shadow: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.wrapper + .order {
    width: 800px;
}
