@import 'normalize.css';

:root {
    --primary: #007bff;
    --primary-hover: #0069d9;
    --secondary: #17a2b8;
    --secondary-hover: #138496;
    --basic: #6c757d;
    --basic-hover: #5a6268;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --header-distance: 74px;
    --with-book-item: 160px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}
