.wrapper {
    margin-top: var(--header-distance);
    width: 100%;
}

.book-info {
    display: flex;
    width: 100%;
}

.cover-image {
    margin-right: 20px;
    width: 35%;
}

.detail-info {
    max-width: 65%;
}

.detail-info-item {
    display: flex;

    .attribute {
        font-weight: 600;
        margin-right: 5px;
    }
}

.detail-info-item + .detail-info-item {
    margin-top: 15px;
}

.title {
    font-weight: 650;
    color: var(--primary);
}

.author {
    font-style: italic;
}

.description {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-actions {
    margin-top: 30px;
}

.buy-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evaluate {
    margin-top: 15px;
}

.vote {
    display: flex;
}

.evaluate-title {
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
    min-width: 80px;
    user-select: none;
    text-decoration: underline;
}

.star-item {
    margin: 0 2px;
}

.star {
    cursor: pointer;
}

.fullStar {
    color: orange;
}

.comment {
    margin: 20px 0;
}

.write-comment {
    display: flex;
    justify-content: flex-start;
}

.send-comment-btn {
    margin-top: 15px;
}

.input-comment {
    width: 50%;
}

.user-comments {
    margin-top: 25px;
}
