.wrapper {
    margin-top: var(--header-distance);
}
.wrapper {
    display: flex;
    width: 100%;
}

.main {
    width: 100%;
}

.book-list {
    width: 100%;
    margin-top: 20px;
}

.book-item + .book-item {
    margin-top: 15px;
}
