.wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15% 0 15%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.search {
    width: 60%;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    user-select: none;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account,
.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btns {
    flex-direction: column;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 0px 2px 1px #ccc;
    border-radius: 5px;
    min-width: 150px;
}

.btn-item {
    width: 100%;
}

.login-btns {
    display: flex;
}

.login-btn-item {
    margin: 0 3px;
}
