.wrapper {
    object-fit: cover;
    width: 100%;
}

.logo {
    width: 55px;
    height: 55px;
}

.circle {
    border-radius: 50%;
}

.avatar {
    width: 35px;
    height: 35px;
}

.coverImgae {
    max-width: 300px;
    height: auto;
}

.book {
    width: var(--with-book-item);
    height: 180px;
    border-radius: 10px;
}
