.wrapper {
    object-fit: cover;
}

.logo {
    width: 50px;
    height: 50px;
}

.circle {
    border-radius: 50%;
}

.avatar {
    width: 35px;
    height: 35px;
}

.coverImgae {
    max-width: 300px;
    height: auto;
}
